.list{
  $self: &;
  margin-bottom: 30px;
  &__add-button{
    svg,span{
      opacity: 0.4;
    }
    &:hover{
      svg,span{
        opacity: 1;
      }
    }
  }


  li{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 10px;
    margin-bottom: 5px;

    &:hover #{$self}__remove-icon{
      opacity: 0.2;
    }

    #{$self}__remove-icon{
      opacity: 0;

      &:hover{
        opacity:0.8 ;
      }
    }



    span{
      flex: 1;
    }
    &:hover{
      background: rgba(255,255,255, 0.6);

    }


    &.active{
      background: #FFFFFF;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }
    .badge{
      position: relative;
      left: 5px;
    }
    i{
      display: inline-flex;
      margin-right: 10px;
      svg{
        path{
          fill: #7C7C7C;
        }
      }
    }


  }
}